.panel-body {
  background-color: rgba(212,228,239,1);
}
.task-editor {
  margin: 4em 20%;
}
.task-input {
  margin-top: 1em;
}
.task-button {
  float: right;
  margin: 1em;
}

.panel {
  margin-bottom: 10px;
}



.task-body {
  background: rgba(212,228,239,1) !important;
  &:hover {
    background-color: rgba(210,255,82,1) !important;
  }
}
.task-panel {
  margin: 2em 20%;
}

.task-title {
  text-align: left;
  margin-left: 3%;
}
.task-description {
  margin-left: 1em;
}

.timer {
  color: rgba(105,105,105,1);
  margin-left: 3%;
}
.task-status-buttons {
  height: 30px;
  border-top: 1px solid grey;
}
.btn-complete {
  float: left;
  margin-left: 3%;
}

.btn-delete {
  float: right;
  margin-right: 3%;
}

@media(max-width: 720px) {
  .task-editor {
    margin: 4em;
  }
  .task-panel {
    margin: 4em;
  }
}
